p 
	| Ottelu aloitettiin
	b tiistaina 6.9.2011
	|  ja vuorot vaihtuvat noin 
	b klo 20:00
	| .

p Mukaan voi edelleen päästä! Luovutamme pelipaikkoja varapelaajille sitä mukaan kuin niitä vapautuu.

p
	| Lisätietoja voi lukea
	a(href="http://freeciv.fi/wiki/", target="_blank") wikistämme
	|  tai 
	a(href="http://www.facebook.com/event.php?eid=247270245303591", target="_blank") Facebookista
	|  tai 
	a(href="http://freeciv.fi/wiki/IRC", target="_blank") IRC:ssä #freeciv.fi 
	|  tai 
	a(href="http://www.v2.fi/artikkelit/pelit/6/Vapaa-oli-sivilisaationi/") Vapaa oli sivilisaationi 15.04.2007
	| .

p Tervetuloa ilmoittautumaan uuteen Freeciv-peliimme!

div(class='reg')
	form(method='post', action='reg')
		fieldset
			legend Otteluun ilmoittautuminen
			| Nyt ilmoittautunut: 
			b= work.game_players
			| &nbsp;/
			b 126&nbsp;KPL
			br
			- if (work.players < 126)
				| Pelipaikkoja vapaana: 
				b= work.free_players
				b &nbsp;KPL
				| !
				br
				hr
			- else
				| Varapelaajia ilmoittautunut: 
				b= work.spare_players
				b &nbsp;KPL
				br
				| Pelipaikkoja vapautumassa: 
				b yli 10&nbsp;KPL
				|  (
				a(href="http://forum.freeciv.fi/index.php/topic,33.0.html", target="_blank") lisätietoja
				| )
				br
				hr
				b Huomaa! 
				| Uudet pelivaraukset menevät nyt varapelaajiksi!
				hr
			label Sähköposti: 
			- if(session.user)
				= session.user.email
				input(type='hidden', name='email', value=session.user.email)
			- else
				br
				input(name='email')
			br
			- if(work.userRegisteredToGame)
				- if(work.reg.number <= 126)
					label Pelipaikka: 
					= work.reg.number
				- else
					label Varasija: 
					= work.reg.number - 126
				br
				label Kansalaisuus: 
				- if(work.player)
					= work.player.nation
				- else
					| Valitsematta
				br
				label Hallitsijan nimi: 
				- if(work.player)
					= work.player.name
				- else
					| Valitsematta
				hr
				label Palvelimen tila: 
				| Peli käynnissä
				br
				label Freecivin versio: 
				| Freeciv 2.3.0 (
				a(href="http://freeciv.wikia.com/wiki/Download", target="_blank")
					| asennusmediat
				| )
				br
				label Palvelin: 
				|  
				b mars.v2.fi
				|  (portti 
				b 5556
				| )
				br
				label Palvelimen käyttäjätunnus: 
				- if(work.auth)
					= work.auth.name
				- else
					| Ei määritelty
				hr
				br
			- if(work.userRegisteredToGame)
				| Muutoksia pelipaikkaan ei voi tehdä pelin alkamisen jälkeen. Ota yhteyttä ylläpitäjään.
				//- a(href='setup', class='button positive')
				//- 	img(src='/images/blueprint/plugins/buttons/icons/tick.png', alt='')
				//- 	| Muokkaa
				//- a(href='unreg', class='button negative')
				//- 	img(src='/images/blueprint/plugins/buttons/icons/cross.png', alt='')
				//- 	| Poista varaus
			- else
				button(type='submit', class='button positive')
					img(src='/images/blueprint/plugins/buttons/icons/tick.png', alt='')
					| Varaa pelipaikka
			br
			hr
			div(class='small')
				hr
				| Käytämme sähköpostiosoitetta ainoastaan tämän verkkopalvelun käyttäjätunnuksena ja ajankohtaisten tiedotteiden lähettämiseen. Emme julkaise tai levitä osoitetta edelleen.

table(class='playerlist')
	caption Pelaajat
	tr
		th Pelipaikka
		th Kansa
		th Hallitsija
	- each player, i in work.players
		tr
			td= player.number
			td= player.nation
			td
				= player.name
				- if(player.game_username)
					|  
					i @#{player.game_username}
					
hr
div(class='sponsors')
	| Yhteistyössä mukana: 
	br
	a(href="http://www.v2.fi", target="_blank")
		img(src="/images/logot/v2-logo-125.png", alt="V2.fi", width="174", height="125")
